html, body {
    margin: 0;
    padding: 0;
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background: #555555;
}
.bottom-pane-border {
    padding-top: 3px;
    cursor: s-resize;
}
.display-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222; 
    height: 100%;
}
.bottom-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;   
    min-height: 210px;
    max-height: 300px;
    cursor: default;
}